rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Basic User Profile Management
    match /users/{userId} {
      allow read;
      allow create: if request.auth != null && request.auth.uid == userId;
      allow update: if request.auth != null && request.auth.uid == userId;
    }

    // Default-deny all other collections
    match /{document=**} {
      allow read, write: if false;
    }

    match /companies/{companyId} {
      allow read: if true;
      allow write: if true;
    }

    match /segments/{segmentId} {
      allow read: if true;
      allow write: if true;
    }

    match /cmmsRoles/{roleId} {
      allow read: if true;
      allow write: if true;
    }

    match /customerLocations/{locationId} {
      allow read: if true;
      allow write: if true;
    }

    match /assets/{assetId} {
      allow read: if true;
      allow write: if true;
    }

    match /contracts/{contractId} {
      allow read: if true;
      allow write: if true;
    }

    match /products/{productId} {
      allow read: if true;
      allow write: if true;
    }

    match /suppliers/{supplierId} {
      allow read: if true;
      allow write: if true;
    }

    match /workOrders/{orderId} {
      allow read, list, create, update: if request.auth != null;
    }

    match /accountsPayable/{accountId} {
      allow read: if true;
      allow write: if true;
    }

    match /accountsReceivable/{accountId} {
      allow read: if true;
      allow write: if true;
    }

    match /bankAccounts/{accountId} {
      allow read: if true;
      allow write: if true;
    }

     match /checklistTemplates/{templateId} {
      allow read: if true;
      allow write: if true;
    }

    match /schedules/{scheduleId} {
      allow read: if true;
      allow write: if true;
    }

  }
}
